<!DOCTYPE html>
<html>
<head>
    <title>So that Boris can publish any posts </title>
</head>
<body>
    <h1>Boris Poster 2tgvk</h1>
    <form action="/post" method="POST" enctype="multipart/form-data">
        <label for="message">Введите текст:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
        <br>
        <label for="image">Изображение (опцианально):</label>
        <input type="file" id="image" name="image">
        <br>
        <button type="submit">Опубликовать</button>
    </form>
</body>
</html>